@page
@model IndexModel
@{
    ViewData["Title"] = "Review List";
}


<div class="container">
    @if(Model.StaffUser != null)
    {
        <div class="row mb-5 g-5">
            <h1>Hello, @Model.StaffUser.NAME</h1>
        </div>

        @if (!Model.isLive)
        {
            <h1 class="text-center redtext">NOTE: This is a test system, work completed here will not be reflected in production</h1>
        }

        @if (Model.notificationMessage != null && Model.notificationMessage != "")
        {
            <h1 class="text-center redtext">@Model.notificationMessage</h1>
        }

        <div class="row mb-5">
            <div class="col-md-2">
                <a class="btn btn-secondary" asp-area="" asp-page="/Download" asp-route-staffCode=@Model.staffCodeSelected asp-route-weeksFromReferral=@Model.weeksSelected asp-route-adminStatus=@Model.adminStatusSelected asp-route-pathway=@Model.pathwaySelected asp-route-gcCode=@Model.gcCodeSelected>Export Data</a>
            </div>
        </div>

        <form id="frmSelect">
            <div class="row mb-5 g-5">            
                <div class="col-md-1">
                    @if (Model.StaffUser.CLINIC_SCHEDULER_GROUPS == "Admin")
                    {
                        <label class="w-100 text-right">Admin Contact</label>
                    }
                    else
                    {
                        <label class="w-100 text-right">GC</label>
                    }
                </div>
                <div class="col-md-2">
                    @if(Model.StaffUser.CLINIC_SCHEDULER_GROUPS=="Admin")
                    {
                        <select class="w-100" id="ddlSelect" name="staffCode" asp-for=@Model.staffCodeSelected>
                            <option value="">Select...</option>
                            @foreach(var item in Model.AdminList)
                            {
                                <option value=@item.STAFF_CODE>@item.NAME</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="w-100" id="ddlSelect" name="staffCode" asp-for=@Model.staffCodeSelected>
                            <option value="">Select...</option>
                            @foreach (var item in Model.GCList)
                            {
                                <option value=@item.STAFF_CODE>@item.NAME</option>
                            }
                        </select>
                    }
                </div>
                <div class="col-md-1">
                    <label class="w-100 text-right">Admin Status</label>
                </div>
                <div class="col-md-2">
                    <select class="w-100" id="ddlAdminStatus" name="adminStatus" asp-for=@Model.adminStatusSelected>
                        <option value="">Select...</option>
                        @foreach(var item in Model.AdminStatusList)
                        {
                            <option value=@item.Status_Admin>@item.Status_Admin</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label class="w-100 text-right">Weeks</label>
                </div>
                <div class="col-md-1">
                    <input class="w-100" name="weeks" asp-for=@Model.weeksSelected />
                </div>
                <div class="col-md-1">
                    <label class="w-100 text-right">Pathway</label>
                </div>
                <div class="col-md-1">
                    <select class="w-100" id="ddlPathway" name="pathway" asp-for=@Model.pathwaySelected>
                        <option value="">Select...</option>
                        @foreach(var item in Model.PathwayList)
                        {
                            <option value=@item.CGU_Pathway>@item.CGU_Pathway</option>
                        }
                    </select>
                </div>        
                <div class="col-md-1"></div>   
                <div class="col-md-1">
                    <button id="btnSubmit">Select</button>
                </div>                
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Show only active clocks:</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" id="chkShowTicking" asp-for=@Model.showTicking onchange="SetTickBox()" />
                    <input type="text" id="txtShowTicking" name="isShowTicking" hidden="true" />
                </div>
            </div>


            @if (Model.StaffUser.POSITION == "Admin Team Leader")
            {
               <div class="row mb-5 g-5">
                    <div class="col-md-1">
                        <label class="w-100 text-right">GC</label>
                    </div>
                    <div class="col-md-2">
                        <select class="w-100" name="gcFilter" asp-for=@Model.gcCodeSelected>
                            <option value="">Select...</option>
                            @foreach (var item in Model.GCList)
                            {
                                <option value=@item.STAFF_CODE>@item.NAME</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </form>

        @if (Model.StaffUser.POSITION == "Admin Team Leader")
        {
            <div class="container stdborder">
                <div class="row mb-2 g-2">
                    <h2>Area Staff Cover for Cancer</h2>
                </div>
                <form id="frmUpdate" method="Post">
                    <div class="row mb-2 g-2">
                        <div class="col-md-2">
                            <label text-right>Area name:</label>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlAreaName" name="areaID" onchange="ShowStaff()">
                                <option value="">Select...</option>
                                @foreach (var item in Model.AreaNamesList)
                                {
                                    <option value=@item.AreaID>@item.AreaCode - @item.AreaName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="text-right">Admin</label>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlnewAdmin" name="admin">
                                <option value="">Select...</option>
                                @foreach (var item in Model.AdminList)
                                {
                                    <option value=@item.STAFF_CODE>@item.NAME</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnUpdate" disabled="true" onclick="UpdateArea()">Update</button>
                        </div>
                    </div>
                    <div class="row mb-2 g-2">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <label class="text-right">GC</label>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlnewGC" name = "gc">
                                <option value="">Select...</option>
                                @foreach (var item in Model.GCList)
                                {
                                    <option value=@item.STAFF_CODE>@item.NAME</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnUpdateAll" disabled="true" onclick="UpdateAllAreas()">Update All </button>
                        </div>
                    </div>                
                    <div class="row mb-2 g-2">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <label class="text-right">Consultant</label>
                        </div>
                        <div class="col-md-3">
                            <select id="ddlnewCons" name = "consultant">
                                <option value="">Select...</option>
                                @foreach (var item in Model.ConsList)
                                {
                                    <option value=@item.STAFF_CODE>@item.NAME</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input id="txtAreaCode" name="areaCode" hidden="true" />
                        </div>
                    </div>                
                </form>
            </div>
        }
        @if(Model.StaffMemberName != null)
        {
            <div class="row mb-5 g-5">
                <h2>Review list for @Model.StaffMemberName</h2>
            </div>
        }
    }


    <div class="row mb-5 g-5">
        
        <table id="defaultTable">
            <thead>
                <tr>
                    <th>CGU_No</th>
                    <th>Weeks From Ref</th>
                    <th>Admin Status</th>
                    <th>Clock Start Date</th>
                    <th>Clock Stop Date</th>
                    <th>Breach Date</th>
                    <th>Pathway</th>
                    <th>Clics?</th>                    
                    <th>Admin Contact</th>
                    <th>GC</th>
                    @*<th>Status</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.PatientReferralsList)
                {
                    <tr>
                        <td><a asp-area="" asp-page="/Details" asp-route-ID=@item.refid>@item.CGU_No</a></td>         
                        <td class="text-center">@item.WeeksFromReferral</td>
                        <td>@item.Status_Admin</td>
                        @if (item.ClockStartDate.HasValue)
                        {
                            <td>@item.ClockStartDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ClockStopDate.HasValue)
                        {
                            <td>@item.ClockStopDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.BreachDate.HasValue)
                        {
                            <td>@item.BreachDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.PATHWAY</td>
                        @if(item.Clics == null)
                        {
                            <td>N/A</td>
                        }
                        else
                        {
                            <td>@item.Clics</td>
                        }                        
                        <td>@item.AdminContact</td>
                        <td>@item.GC</td>
                        @*<td>@item.COMPLETE</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    //document.getElementById("btnUpdate").addEventListener("click", UpdateArea);
    //document.getElementById("btnUpdateAll").addEventListener("click", UpdateAllAreas);
    window.addEventListener("load", SetTickBox);
    //document.getElementById("ddlAreaName").addEventListener("change", ShowStaff);
    //document.onload(LoadForm());

    function SetTickBox()
    {       
        document.getElementById("txtShowTicking").value = document.getElementById("chkShowTicking").checked;
    }

    function UpdateArea() 
    { 
        document.getElementById("frmUpdate").submit();
    }

    function UpdateAllAreas() 
    { 
        var i = document.getElementById("ddlAreaName").value;
        var AreaCodeArray = [];
        @foreach (var item in Model.AreaNamesList)
        {
            @:AreaCodeArray.push("@item.AreaCode");
        }

        document.getElementById("txtAreaCode").value = AreaCodeArray[i-1];
        document.getElementById("frmUpdate").submit();
    }

    function ShowStaff() 
    {        
        var ConsArray = [];
        var GCArray = [];
        var AdminArray = [];
        var AreaCodeArray = [];
        var i = document.getElementById("ddlAreaName").value;

        @foreach (var item in Model.AreaNamesList)
        {
            @:ConsArray.push("@item.ConsCode");
            @:GCArray.push("@item.GC");
            @:AdminArray.push("@item.FHCStaffCode");
            @:AreaCodeArray.push("@item.AreaCode");
        }

        document.getElementById("ddlnewCons").value = ConsArray[i-1];
        document.getElementById("ddlnewGC").value = GCArray[i-1];
        document.getElementById("ddlnewAdmin").value = AdminArray[i-1];
        document.getElementById("btnUpdate").disabled = false;
        document.getElementById("btnUpdateAll").disabled = false;
        document.getElementById("btnUpdateAll").innerHTML = "Update all " + AreaCodeArray[i-1];
    }

    
</script>
